<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mta_6._1_employee_database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="mta_6._1_employee_database.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\DeKobe\Desktop\MTA-Repos\mta-6.1-databases\mta-6.1-databases\Employee.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <mta_6._1_employee_database.Properties.Settings>
            <setting name="SQL" serializeAs="String">
                <value>SELECT * FROM tbl_employees</value>
            </setting>
        </mta_6._1_employee_database.Properties.Settings>
    </applicationSettings>
</configuration>